.appointment-container {
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointment-container h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form-group select {
  width: 350px;
  height: 45px;
}

select {
  padding: 0 8px;
  background-color: #f8efea;
  color: #000;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 350px;
  height: 45px;
  border-radius: 3px;
  border: 2px solid #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-container {
  position: relative;
}

.select-container::after {
  content: '▼';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #000;
  pointer-events: none;
}

.appointment-container button {
  margin-left: 0;
  border: none;
  cursor: pointer;
  background-color: #6f9d39;
  color: #fff;
  padding: 8px 18px;
}

.appointment-container button:hover {
  background-color: #659133;
}

.success-message {
  background-color: #aed9c6;
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
}

.success-message a {
  color: #c61c56;
  font-weight: 600;
}
